/* Variables*/
:root {
    /* primary/main color */
  --clr-pink: rgb(255, 130, 150);
  --borderOp:rgb(255, 99, 71, .3);
  --hover:rgb(255, 100, 150);

    /* primary/border color */
  --clr-grey:rgb(128, 128, 128);
  --clr-grey-1:rgb(128, 128, 128, .1);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 28%, 39%);
  --clr-grey-7: hsl(209, 34%, 30%);
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: rgb(128, 128, 128, .9);
  --clr-white: #fff;
  
    /* secondary/ color */
  --clr-red-dark: hsl(360, 255%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --min-width: 550px;
  --fixed-width: 450px;
  --max-width: 1170px;
}
.dropdown {
  --radius: 2em;
  --baseFg: var(--clr-pink);
  --baseBg: white;
  --accentFg: var(--hover);
  --accentBg: var(--clr-pink);
}
/*Global Styles*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--clr-pink);
  color: var(--clr-grey-9);
  font-size: 0.875rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 50%;
  height: 80vh;
  margin: 5rem 0;
  min-width: var(--min-width);
  background-color: var(--clr-white);
  color: black;
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  box-shadow: var(--dark-shadow);
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--clr-red-dark);
  opacity: .8;
  margin-left: 3rem;
}
.row1{
  display: flex;
  justify-content: space-between;
}
.mode{
  width: 5%;
}
.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
}
.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.item2 {
  grid-column: 3;
  grid-row: 1 / span 1;
  text-align: center;
  font-size: 1rem;
}
.item3 {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.item4 {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.todo-input{
  padding: .5rem;
  border-radius: 1rem;
  border: 1px solid var(--clr-pink);
  width: 50%;
}
input[type=text], input {
  outline: none;
  border: 1px solid var(--clr-pink);
}
 
input[type=text]:focus, input:focus {
  box-shadow: 0 0 5px var(--clr-pink);
  border: 1px solid var(--clr-pink);
}
.todo-button{
  width: 15%;
  padding: .5rem;
  border-radius: 1rem;
  border: 1px solid var(--clr-pink);
  cursor: pointer;
  background-color: white;

}
.todo-button:hover{
  background-color: var(--hover);
  color: white;
}
.todo-clear{
  padding: .4rem;
  margin: .3rem;
  width: 50%;
  background-color:var(--clr-pink) ;
  color: white;
}
.todo-clear:hover{
  background-color: var(--hover);
}
.select{
  display: none;
}

/* Custome dropdown style */
select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  padding: .5rem;
  appearance: none;
  cursor: pointer;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}
select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}
select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
}
.time{
  box-shadow: 0 0 5px var(--clr-pink);
  height: 75px;
  border-radius: 1rem;
}
/* Todo lists */
.todo-container {
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.todo-list {
  list-style: none;
  margin: .1rem;
  border-radius: 1rem;
}
.todo {
  margin: 0.5rem;
  background: var(--clr-white);
  font-size: .8rem;
  color: var(--clr-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 1rem;
  border: 2px solid var(--borderOp);
}
.filter-todo {
  padding: .5rem 1rem;
  width: 32%
}
.todo li {
  flex:1;
}
.trash-btn,
.complete-btn {
  font-weight: 900;
  border: none;
  padding: .5rem;
  cursor: pointer;
  font-size: .85rem;
  background-color: var(--clr-white);
  border-radius: 1rem;
}
.trash-btn{
  color:var(--clr-red-dark);
}
.complete-btn{
  color: var(--clr-green-dark);
}
.complete-btn:hover{
  background-color: var(--clr-grey-1);
}
.trash-btn:hover {  
  background-color: var(--clr-grey-1);
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
  border-radius: 1rem;
}
.fall {
  transform: translateX(-10rem) rotateZ(0deg);
  opacity: 0;
}
.fallDone {
  transform: translateX(10rem) rotateZ(0deg);
  opacity: 0;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-pink);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--clr-white);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--clr-grey);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-grey-9)
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}
@media screen and (max-width: 520px) {
  .container{
    width: 100%;
  }
}